.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
  
  .btn.active {
    background-color: hsl(134, 81%, 39%);
    color: white;
  }
  
  .btn.inactive {
    background-color: hsl(0, 100%, 50%);
    opacity: .3;
  }
  
  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    background-color: hsl(134, 100%, 75%);
  }